.goBackButton
    display: flex
    gap: 0.5rem
    align-items: center
    border: none
    background: none
    cursor: pointer
    font-size: 0.88rem
    font-weight: 500
    padding: 0.7rem
    border-radius: 0.4rem
    width: 170px
    margin-bottom: 1.3rem
    &:hover
        background-color: #0EA5E9
        color: white

.header
    display: flex
    flex-direction: row
    justify-content: space-between

    .title
        display: flex
        flex-direction: column
        
        .titleText
            display: flex
            align-items: center
            gap: 20px
            font-size: 1.8rem
            font-weight: 600
    
        .titleSection
            display: flex
            align-items: center
            gap: 1rem
        
            .statusWrapperOnline
                display: flex
                align-items: center
                gap: 0.3rem
                background-color: #22C55E
                color: white
                font-size: 0.8rem
                border-radius: 0.4rem
                padding: 0.2rem 0.4rem

            .statusWrapperOffline
                display: flex
                align-items: center
                gap: 0.3rem
                background-color: #EF4444
                color: white
                font-size: 0.8rem
                border-radius: 0.4rem
                padding: 0.2rem 0.4rem
                width: 3.2rem

            .dot
                display: inline-block
                width: 7px
                height: 7px
                border-radius: 50%
                background-color: white

    .buttonSection
        display: flex
        gap: 1rem

    .addCWardrobeButton
        display: flex
        background-color: white
        border: 1px solid #d6d3d3
        padding: 0.5rem 1rem
        border-radius: 0.4rem
        font-weight: 500
        cursor: pointer
        gap: 0.4rem
        height: 35px
        align-items: center

        
        &:hover
            background-color: #f1f1f1
    
    .descriptionTitleSection
        display: flex
        gap: 1rem
        margin-top: 0.4rem

        .descriptionTitle
            display: flex
            align-items: center
            gap: 0.3rem
            font-size: 1rem
            color: #737373

.wardrobeInfo
    display: flex
    flex-direction: row
    margin-top: 2rem
    gap: 2rem

    .infoTile
        display: flex
        flex-direction: column
        gap: 2.5rem
        border-radius: 0.5rem
        border: 1px solid #E5E5E5
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)
        padding: 1.5rem
        width: 25%

    .wardrobeInfoTileTitle
        font-size: 0.9rem
        color: #737373
        font-weight: 500

    .wardrobeInfoTileDetail
        font-size: 1.5rem
        font-weight: 700

.tabs
    display: flex
    flex-direction: row
    width: fit-content
    background-color: #f0f0f0
    border-radius: 0.4rem
    padding: 0.5rem
    margin-top: 2rem
    margin-bottom: 2rem

    .tabButton
        font-size: 1rem
        font-weight: 500
        border: none
        cursor: pointer
        background-color: transparent
        padding: 0.5rem
        border-radius: 0.4rem
        font-size: 0.9rem
        height: 2rem

    .activeTab
        font-size: 1rem
        font-weight: 500
        border: none
        cursor: pointer
        background-color: white
        padding: 0.5rem
        border-radius: 0.4rem
        font-size: 0.9rem
        height: 2rem
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)

.bodyWrapper
    border-radius: 0.5rem
    border: 1px solid #E5E5E5
    padding-top: 1.5rem
    padding-bottom: 1.5rem
    padding-left: 1rem
    padding-right: 1rem
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)
