
.table
    width: 100%
    border-collapse: collapse
    table-layout: fixed

    thead th
        text-align: left
        padding: 0.75rem 1rem

        &:nth-child(1)
            width: 15%
        &:nth-child(2)
            width: 25%
        &:nth-child(3)
            width: 9%
        &:nth-child(4)
            width: 14%
        &:nth-child(5)
            width: 9%
        &:nth-child(6)
            width: 2%

    tbody td
        padding: 0.75rem 1rem

    tbody tr
        &:hover
            background-color: #f1f1f1
.itemCell
    display: flex
    align-items: center
    gap: 0.5rem

    .boxIcon
        height: 1rem
        width: 1rem
        color: #0c3fb2
        background-color: rgba(11, 63, 178, 0.1)
        padding: 0.5rem
        border-radius: 0.4rem

.statusBadge
    display: inline-flex
    align-items: center
    line-height: 1
    color: white
    font-size: 0.8rem
    font-weight: 500
    border-radius: 0.4rem
    padding: 0.4rem 0.6rem

.burgerDot
    background: none
    border: none
    opacity: 0.6
    display: flex
    align-items: center
    justify-content: center
    height: 2rem
    width: 2rem
    
    &:hover
        opacity: 1
        background: rgba(11, 63, 178, 0.1)
        border-radius: 0.4rem
    