
.headerSection
    display: block
    font-size: 1.1rem
    font-weight: 600
    margin-bottom: 1rem

.bodyWrapper
    display: flex
    flex-direction: row
    gap: 1rem
    border-bottom: 1px solid #E5E5E5
    padding-bottom: 1rem
    padding-top: 1rem

    &:last-child
        padding-bottom: 0rem
        border-bottom: none

    svg
        background-color: rgba(11, 63, 178, 0.1)
        color: #0c3fb2
        padding: 0.5rem
        border-radius: 100%

    .infoSection
        display: flex
        flex-direction: column

        .timeInfo
            font-size: 0.9rem
            color: #737373