.overlayStyle
    position: fixed
    inset: 0
    background: rgba(0,0,0,0.5)
    display: flex
    z-index: 1000
    align-items: center
    justify-content: center

.contentStyle 
    position: relative
    background-color: white
    border-radius: 0.8rem
    padding: 2rem
    min-width: 300px
    
.closeBtnStyle  
    position: absolute
    top: 8px
    right: 12px
    border: none
    background-color: transparent
    font-size: 2rem
    cursor: pointer