.headerSectionWrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 1rem

.headerSection
    display: block
    font-size: 1.1rem
    font-weight: 600

.addItemButton
    display: flex
    align-items: center
    gap: 0.4rem
    height: 35px
    background-color: #0b3fb2
    color: white
    border: none
    border-radius: 0.5rem
    padding: 0.6rem 1rem
    font-size: 0.9rem
    cursor: pointer

    &:hover
        opacity: 0.9

.bodyWrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    border-radius: 0.5rem
    border: 1px solid #E5E5E5
    padding-top: 1.5rem
    padding-bottom: 1.5rem
    padding-left: 1rem
    padding-right: 1rem
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)
    margin-top: 2rem


    .infoImage
        display: flex
        align-items: center
        gap: 0.5rem
        
        svg
            height: 1.6rem
            width: 1.6rem
            color: #0c3fb2
            background-color: rgba(11, 63, 178, 0.1)
            padding: 0.9rem
            border-radius: 0.4rem

    .headerSectionWrapper
        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 1rem
    
    .infoTileWrapper
        display: flex
        flex-direction: row
        gap: 1rem

        .infoTile
            display: flex
            flex-direction: column
        
        .departmentInfoTileTitle
            font-size: 1.1rem
            font-weight: 600
        
        .addressInfoDepartment
            display: flex
            align-items: center
            gap: 0.3rem
            font-size: 0.9rem
            color: #737373
            font-weight: 500

            svg
                height: 1rem
                width: 1rem
                color: #737373

    .wardrobeCount
        display: flex
        flex-direction: column
        text-align: center

        .wardrobeCountTitle
            font-size: 0.9rem
            color: #737373
            font-weight: 500

        .wardrobeCountDetail
            font-size: 1.3rem
            font-weight: 700

    .acctionButton
        background: none
        border: none
        opacity: 0.6
        padding: 0.4rem
        display: flex
        align-items: center
        justify-content: center
        height: 2.1rem
        width: 2.1rem
        
        &:hover
            opacity: 1
            background: rgba(11, 63, 178, 0.1)
            border-radius: 0.4rem
            padding: 0.4rem
    
    .infoTileWrapperAction
        display: flex
        flex-direction: row
        gap: 1.5rem
        align-items: center

.menuItemButton
    background: none
    border: none
    display: flex
    padding: 0.5rem
    width: 100%
        
    &:hover
        background: rgba(11, 63, 178, 0.1)

.menuItemButtonDanger
    color: #EF4444